<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Autogrow </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-textarea appAutogrow> </ion-textarea>
</ion-content>
